package ${packageName}.mapper

import ${packageName}.domain.${ClassName}
import ${packageName}.domain.vo.${ClassName}Vo
import com.blank.common.mybatis.core.mapper.BaseMapperPlus

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
interface ${ClassName}Mapper : BaseMapperPlus<${ClassName}> {

}
